/* .sidenav {
  background: wheat;
  padding: 4px;
  border: 3px solid #000000;
  font-size: 25px;
} */
.total {
  background-color: white;
  border: #000000;
}
.total th {
  background-color: azure;
  padding: 70px;
  border: 1px solid #000000;
  font-size: medium;
}
.total td {
  background-color: aliceblue;
  padding: 70px;
  border: 1px solid #000000;
  font-size: medium;
  font-style: italic;
}

h2 {
  text-align: center;
  padding: 70px;
  border: 2.5px solid #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 250px;
  min-height: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 25px 30px;
  text-decoration: dashed;
  display: block;
  font-size: large;
}

.dropdown-content nav:hover {
  background-color: #9c4343;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6bd8c9;
}
.dropbtn {
  background-color: rgb(181, 241, 102);
  padding: 20px;
  font-size: x-large;
  border: none;
  cursor: pointer;
}
.dropbtn a {
  color: black;
  padding: 4.15pc;
  font-size: larger;
}
